@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242424;
  color: white;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* Prevent rubber-banding on iOS */
  overscroll-behavior: none; 
}